body {
    background-color: #f8f8f8;
}

.menu{
     list-style-type: none;
}

.menu a {
    color: orange;
    font-size: 18px;
    font-style: bold;   
}
.map{
            display: inline-block;
            width: 25%;
            vertical-align: middle;
}

.form {
            margin: 0 0px 20px 0;
            background: #d9dabb;
            /* Цвет фона */
            width: 400px;
            /* Ширина */
            height: auto margin: 0 10px 10px 0;
            /* Отступы */
            padding: 20px 0px 30px;
            /* Поля сверху и снизу */
            text-align: center;
            /* Выравнивание по центру */
            display: inline-block;
            /* Строчно-блочный элемент */
        }

.form div {
            display: block;
            padding: 0px 0px 20px;
        }

.inputText {
            color: #707000;
            font-size: 16px;
            font-style: bold;
            text-align: center;
}

.problemText {
            color: #707000;
            font-size: 14px;
            font-style: italic;
            
}

img {
            padding: 2px;
            background-color: grey;

}

.photo {
            background: #d9dabb;
            /* Цвет фона */
            width: 150px;
            /* Ширина */
            margin: 0px 10px 0px 0;
            /* Отступы */
            padding: 10px 0;
            /* Поля сверху и снизу */
            text-align: center;
            /* Выравнивание по центру */
            display: inline-block;
            /* Строчно-блочный элемент */
        }

.photo img {
            border: 2px solid #8b8e4b;
            /* Параметры рамки */
        }
h3 {
    color: black;
    font-size: 14px;
    font-weight: 400;
    background-color: #eaeaea;    
}

.allDis {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.smallDis {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.chara {
    color: #706010;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-style: bold;
    list-style-type: square;
}

